* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

body {
  background-color: #f1f5f8;
  text-align: center;
}
body .header h1 {
  display: inline-block;
  font: 32px;
  border-bottom: 3px solid dodgerblue;
}
body .main-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
body .main-section nav {
  font-size: 150px;
  margin-left: 100px;
}
body .main-section article {
  font-size: 100px;
  color: dodgerblue;
  text-align: center;
  margin-left: 100px;
}
body .main-section .user {
  width: 250px;
  height: 300px;
  padding: 25px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px gainsboro, -5px -5px 5px gainsboro;
}
body .main-section .user img {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 50%;
}
body .main-section .user p {
  color: #337cc1;
  margin-top: 15px;
}
body .main-section .user .gitHubLinks {
  border: none;
  text-decoration: none;
  background-color: dodgerblue;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
}
body .footer {
  width: 100%;
  background-color: #f1f5f8;
  position: fixed;
  top: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .footer p {
  margin-top: 15px;
  font-weight: 600;
}
body .footer .btn {
  width: 30px;
  height: 30px;
  background-color: #8bcbf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body .footer .btn:focus {
  background-color: #063251;
  color: white;
}
