@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8f0fa;
}

.sarlavha {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  font-family: poppins;
  font-size: 1.9rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 60rem;
  height: 100vh;
  margin-left: 5.2rem;
  gap: 2rem;
}
.grid .book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  width: 17rem;
  height: 17rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px grey;
}
.grid .book img {
  border-radius: 5rem;
  width: 8rem;
  height: 8re;
}
.grid .book h2 {
  font-family: poppins;
  font-size: 16px;
  color: grey;
}
.grid .book button {
  width: 9rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: #4593f5;
  color: white;
  cursor: pointer;
}
